In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nba_compiled_data.csv')

In [3]:
df.head()

                    Name  Games  TRB  AST  PTS/G
0           John Collins     61  9.8  2.0   19.5
1             Trae Young     81  3.7  8.1   19.1
2  Taurean Waller-Prince     55  3.6  2.1   13.5
3             Jeremy Lin     51  2.3  3.5   10.7
4          Kevin Huerter     75  3.3  2.9    9.7

In [4]:
df

                      Name  Games  TRB  AST  PTS/G
0             John Collins     61  9.8  2.0   19.5
1               Trae Young     81  3.7  8.1   19.1
2    Taurean Waller-Prince     55  3.6  2.1   13.5
3               Jeremy Lin     51  2.3  3.5   10.7
4            Kevin Huerter     75  3.3  2.9    9.7
..                     ...    ...  ...  ...    ...
155           Bradley Beal     82  5.0  5.5   25.6
156             Jeff Green     77  4.0  1.8   12.3
157          Thomas Bryant     72  6.3  1.3   10.5
158       Tomáš Satoranský     80  3.5  5.0    8.9
159         Chasson Randle     49  1.1  2.0    5.5

[160 rows x 5 columns]

In [5]:
160/270

0.5925925925925926