In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('nba_compiled_data.csv')

In [27]:
df

                      Name     Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7
1          Khris Middleton    Bucks  77   6.0  4.3   18.3
2             Eric Bledsoe    Bucks  78   4.6  5.5   15.9
3              Brook Lopez    Bucks  81   4.9  1.2   12.5
4              Zach LaVine    Bulls  63   4.7  4.5   23.7
..                     ...      ...  ..   ...  ...    ...
155           Bradley Beal  Wizards  82   5.0  5.5   25.6
156             Jeff Green  Wizards  77   4.0  1.8   12.3
157          Thomas Bryant  Wizards  72   6.3  1.3   10.5
158       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9
159         Chasson Randle  Wizards  49   1.1  2.0    5.5

[160 rows x 6 columns]

In [28]:
df.loc[df['PTS/G'] >= 20]

                      Name          Team   G   TRB   AST  PTS/G
0    Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
4              Zach LaVine         Bulls  63   4.7   4.5   23.7
13            Kyrie Irving       Celtics  67   5.0   6.9   23.8
18           Tobias Harris      Clippers  55   7.9   2.7   20.9
19            Lou Williams      Clippers  75   3.0   5.4   20.0
24             Mike Conley     Grizzlies  70   3.4   6.4   21.1
41            Kemba Walker       Hornets  82   4.4   5.9   25.6
47        Donovan Mitchell          Jazz  77   4.1   4.2   23.8
53             Buddy Hield         Kings  82   5.0   2.5   20.7
64            LeBron James        Lakers  55   8.5   8.3   27.4
71          Nikola Vučević         Magic  80  12.0   3.8   20.8
76             Luka Dončić          Mavs  72   7.8   6.0   21.2
81        D'Angelo Russell          Nets  81   3.9   7.0   21.1
88            Nikola Jokić       Nuggets  80  10.8   7.3   20.1
100          Anthony Davis      Pelicans  56  12.0   3.9   25.9
101          Julius Randle      Pelicans  73   8.7   3.1   21.4
102           Jrue Holiday      Pelicans  67   5.0   7.7   21.2
105          Blake Griffin       Pistons  75   7.5   5.4   24.5
110          Kawhi Leonard       Raptors  60   7.3   3.3   26.6
115           James Harden       Rockets  78   6.6   7.5   36.1
121            Joel Embiid        Sixers  64  13.6   3.7   27.5
125      LaMarcus Aldridge         Spurs  81   9.2   2.4   21.3
126          DeMar DeRozan         Spurs  77   6.0   6.2   21.2
130           Devin Booker          Suns  64   4.1   6.8   26.6
136            Paul George       Thunder  77   8.2   4.1   28.0
137      Russell Westbrook       Thunder  73  11.1  10.7   22.9
140         Damian Lillard  Trailblazers  80   4.6   6.9   25.8
141            CJ McCollum  Trailblazers  70   4.0   3.0   21.0
145     Karl-Anthony Towns       Twolves  77  12.4   3.4   24.4
151          Stephen Curry      Warriors  69   5.3   5.2   27.3
152           Kevin Durant      Warriors  78   6.4   5.9   26.0
153          Klay Thompson      Warriors  78   3.8   2.4   21.5
155           Bradley Beal       Wizards  82   5.0   5.5   25.6

In [29]:
df

                      Name     Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7
1          Khris Middleton    Bucks  77   6.0  4.3   18.3
2             Eric Bledsoe    Bucks  78   4.6  5.5   15.9
3              Brook Lopez    Bucks  81   4.9  1.2   12.5
4              Zach LaVine    Bulls  63   4.7  4.5   23.7
..                     ...      ...  ..   ...  ...    ...
155           Bradley Beal  Wizards  82   5.0  5.5   25.6
156             Jeff Green  Wizards  77   4.0  1.8   12.3
157          Thomas Bryant  Wizards  72   6.3  1.3   10.5
158       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9
159         Chasson Randle  Wizards  49   1.1  2.0    5.5

[160 rows x 6 columns]

In [50]:
df.describe()

                G         TRB         AST       PTS/G
count  160.000000  160.000000  160.000000  160.000000
mean    70.050000    5.685000    3.457500   14.735000
std     10.663404    2.843645    2.047442    6.109938
min     46.000000    1.100000    0.500000    3.100000
25%     64.000000    3.600000    1.900000    9.900000
50%     73.000000    5.150000    3.100000   13.850000
75%     79.000000    7.300000    4.425000   18.300000
max     82.000000   15.600000   10.700000   36.100000

In [53]:
top_reb_df = df.loc[df['TRB'] >= 7.3]
top_reb_df

                      Name          Team   G   TRB   AST  PTS/G
0    Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
5          Lauri Markkanen         Bulls  52   9.0   1.4   18.7
11             Larry Nance          Cavs  67   8.2   3.2    9.4
18           Tobias Harris      Clippers  55   7.9   2.7   20.9
25              Marc Gasol     Grizzlies  53   8.6   4.7   15.7
29            John Collins         Hawks  61   9.8   2.0   19.5
34          Dewayne Dedmon         Hawks  64   7.5   1.4   10.8
39        Hassan Whiteside          Heat  72  11.3   0.8   12.3
40             Bam Adebayo          Heat  82   7.3   2.2    8.9
48             Rudy Gobert          Jazz  81  12.9   2.0   15.9
51          Derrick Favors          Jazz  76   7.4   1.2   11.8
55           Marvin Bagley         Kings  62   7.6   1.0   14.9
57     Willie Cauley-Stein         Kings  81   8.4   2.4   11.9
62             Noah Vonleh        Knicks  68   7.8   1.9    8.4
64            LeBron James        Lakers  55   8.5   8.3   27.4
69            JaVale McGee        Lakers  75   7.5   0.7   12.0
71          Nikola Vučević         Magic  80  12.0   3.8   20.8
72            Aaron Gordon         Magic  78   7.4   3.7   16.0
76             Luka Dončić          Mavs  72   7.8   6.0   21.2
78          DeAndre Jordan          Mavs  50  13.7   2.0   11.0
85                Ed Davis          Nets  81   8.6   0.8    5.8
86           Jarrett Allen          Nets  80   8.4   1.4   10.9
88            Nikola Jokić       Nuggets  80  10.8   7.3   20.1
95        Domantas Sabonis        Pacers  74   9.3   2.9   14.1
100          Anthony Davis      Pelicans  56  12.0   3.9   25.9
101          Julius Randle      Pelicans  73   8.7   3.1   21.4
105          Blake Griffin       Pistons  75   7.5   5.4   24.5
106         Andre Drummond       Pistons  79  15.6   1.4   17.3
110          Kawhi Leonard       Raptors  60   7.3   3.3   26.6
112            Serge Ibaka       Raptors  74   8.1   1.3   15.0
116           Clint Capela       Rockets  67  12.7   1.4   16.6
121            Joel Embiid        Sixers  64  13.6   3.7   27.5
124            Ben Simmons        Sixers  79   8.8   7.7   16.9
125      LaMarcus Aldridge         Spurs  81   9.2   2.4   21.3
131          Deandre Ayton          Suns  71  10.3   1.8   16.3
136            Paul George       Thunder  77   8.2   4.1   28.0
137      Russell Westbrook       Thunder  73  11.1  10.7   22.9
139           Steven Adams       Thunder  80   9.5   1.6   13.9
142           Jusuf Nurkić  Trailblazers  72  10.4   3.2   15.6
144        Al-Farouq Aminu  Trailblazers  81   7.5   1.3    9.4
145     Karl-Anthony Towns       Twolves  77  12.4   3.4   24.4
154         Draymond Green      Warriors  66   7.3   6.9    7.4

In [52]:
top_ast_df = df.loc[df['AST'] >= 4.425]
top_ast_df

                      Name          Team   G   TRB   AST  PTS/G
0    Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
2             Eric Bledsoe         Bucks  78   4.6   5.5   15.9
4              Zach LaVine         Bulls  63   4.7   4.5   23.7
6                Kris Dunn         Bulls  46   4.1   6.0   11.3
13            Kyrie Irving       Celtics  67   5.0   6.9   23.8
19            Lou Williams      Clippers  75   3.0   5.4   20.0
24             Mike Conley     Grizzlies  70   3.4   6.4   21.1
25              Marc Gasol     Grizzlies  53   8.6   4.7   15.7
30              Trae Young         Hawks  81   3.7   8.1   19.1
41            Kemba Walker       Hornets  82   4.4   5.9   25.6
49             Ricky Rubio          Jazz  68   3.6   6.1   12.7
50              Joe Ingles          Jazz  82   4.0   5.7   12.1
54            De'Aaron Fox         Kings  81   3.8   7.3   17.3
64            LeBron James        Lakers  55   8.5   8.3   27.4
67             Rajon Rondo        Lakers  46   5.3   8.0    9.2
68              Lonzo Ball        Lakers  47   5.3   5.4    9.9
74           D.J. Augustin         Magic  81   2.5   5.3   11.7
76             Luka Dončić          Mavs  72   7.8   6.0   21.2
81        D'Angelo Russell          Nets  81   3.9   7.0   21.1
82       Spencer Dinwiddie          Nets  68   2.4   4.6   16.8
88            Nikola Jokić       Nuggets  80  10.8   7.3   20.1
89            Jamal Murray       Nuggets  75   4.2   4.8   18.2
97         Darren Collison        Pacers  76   3.1   6.0   11.2
102           Jrue Holiday      Pelicans  67   5.0   7.7   21.2
105          Blake Griffin       Pistons  75   7.5   5.4   24.5
113             Kyle Lowry       Raptors  65   4.8   8.7   14.2
114          Fred VanVleet       Raptors  64   2.6   4.8   11.0
115           James Harden       Rockets  78   6.6   7.5   36.1
118             Chris Paul       Rockets  58   4.6   8.2   15.6
124            Ben Simmons        Sixers  79   8.8   7.7   16.9
126          DeMar DeRozan         Spurs  77   6.0   6.2   21.2
130           Devin Booker          Suns  64   4.1   6.8   26.6
137      Russell Westbrook       Thunder  73  11.1  10.7   22.9
140         Damian Lillard  Trailblazers  80   4.6   6.9   25.8
148             Tyus Jones       Twolves  68   2.0   4.8    6.9
151          Stephen Curry      Warriors  69   5.3   5.2   27.3
152           Kevin Durant      Warriors  78   6.4   5.9   26.0
154         Draymond Green      Warriors  66   7.3   6.9    7.4
155           Bradley Beal       Wizards  82   5.0   5.5   25.6
158       Tomáš Satoranský       Wizards  80   3.5   5.0    8.9

In [48]:
top_score_df = df.loc[df['PTS/G'] >= 18.3]

In [49]:
top_score_df

                      Name          Team   G   TRB   AST  PTS/G
0    Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
1          Khris Middleton         Bucks  77   6.0   4.3   18.3
4              Zach LaVine         Bulls  63   4.7   4.5   23.7
5          Lauri Markkanen         Bulls  52   9.0   1.4   18.7
13            Kyrie Irving       Celtics  67   5.0   6.9   23.8
18           Tobias Harris      Clippers  55   7.9   2.7   20.9
19            Lou Williams      Clippers  75   3.0   5.4   20.0
20        Danilo Gallinari      Clippers  68   6.1   2.6   19.8
24             Mike Conley     Grizzlies  70   3.4   6.4   21.1
29            John Collins         Hawks  61   9.8   2.0   19.5
30              Trae Young         Hawks  81   3.7   8.1   19.1
41            Kemba Walker       Hornets  82   4.4   5.9   25.6
47        Donovan Mitchell          Jazz  77   4.1   4.2   23.8
53             Buddy Hield         Kings  82   5.0   2.5   20.7
59            Tim Hardaway        Knicks  46   3.5   2.7   19.1
64            LeBron James        Lakers  55   8.5   8.3   27.4
65              Kyle Kuzma        Lakers  70   5.5   2.5   18.7
66          Brandon Ingram        Lakers  52   5.1   3.0   18.3
71          Nikola Vučević         Magic  80  12.0   3.8   20.8
76             Luka Dončić          Mavs  72   7.8   6.0   21.2
81        D'Angelo Russell          Nets  81   3.9   7.0   21.1
88            Nikola Jokić       Nuggets  80  10.8   7.3   20.1
100          Anthony Davis      Pelicans  56  12.0   3.9   25.9
101          Julius Randle      Pelicans  73   8.7   3.1   21.4
102           Jrue Holiday      Pelicans  67   5.0   7.7   21.2
105          Blake Griffin       Pistons  75   7.5   5.4   24.5
110          Kawhi Leonard       Raptors  60   7.3   3.3   26.6
115           James Harden       Rockets  78   6.6   7.5   36.1
121            Joel Embiid        Sixers  64  13.6   3.7   27.5
125      LaMarcus Aldridge         Spurs  81   9.2   2.4   21.3
126          DeMar DeRozan         Spurs  77   6.0   6.2   21.2
130           Devin Booker          Suns  64   4.1   6.8   26.6
136            Paul George       Thunder  77   8.2   4.1   28.0
137      Russell Westbrook       Thunder  73  11.1  10.7   22.9
140         Damian Lillard  Trailblazers  80   4.6   6.9   25.8
141            CJ McCollum  Trailblazers  70   4.0   3.0   21.0
145     Karl-Anthony Towns       Twolves  77  12.4   3.4   24.4
151          Stephen Curry      Warriors  69   5.3   5.2   27.3
152           Kevin Durant      Warriors  78   6.4   5.9   26.0
153          Klay Thompson      Warriors  78   3.8   2.4   21.5
155           Bradley Beal       Wizards  82   5.0   5.5   25.6

In [79]:
top_score_df.to_csv('top_performers.csv', index = False)

In [80]:
with open('top_performers.csv', 'a') as f:
    top_reb_df.to_csv(f, header=False, index=False)

In [81]:
with open('top_performers.csv', 'a') as f:
    top_ast_df.to_csv(f, header=False, index=False)

In [66]:
top_75 = {'pts_75': 18.3, 'reb_75': 7.3, 'ast_75': 4.42}

In [67]:
top_75

{'pts_75': 18.3, 'reb_75': 7.3, 'ast_75': 4.42}

In [82]:
top_df = pd.read_csv('top_performers.csv')
top_df

                      Name      Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
1          Khris Middleton     Bucks  77   6.0  4.3   18.3
2              Zach LaVine     Bulls  63   4.7  4.5   23.7
3          Lauri Markkanen     Bulls  52   9.0  1.4   18.7
4             Kyrie Irving   Celtics  67   5.0  6.9   23.8
..                     ...       ...  ..   ...  ...    ...
118          Stephen Curry  Warriors  69   5.3  5.2   27.3
119           Kevin Durant  Warriors  78   6.4  5.9   26.0
120         Draymond Green  Warriors  66   7.3  6.9    7.4
121           Bradley Beal   Wizards  82   5.0  5.5   25.6
122       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9

[123 rows x 6 columns]

In [84]:
top_df.drop_duplicates()

                      Name     Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7
1          Khris Middleton    Bucks  77   6.0  4.3   18.3
2              Zach LaVine    Bulls  63   4.7  4.5   23.7
3          Lauri Markkanen    Bulls  52   9.0  1.4   18.7
4             Kyrie Irving  Celtics  67   5.0  6.9   23.8
..                     ...      ...  ..   ...  ...    ...
108             Kyle Lowry  Raptors  65   4.8  8.7   14.2
109          Fred VanVleet  Raptors  64   2.6  4.8   11.0
111             Chris Paul  Rockets  58   4.6  8.2   15.6
117             Tyus Jones  Twolves  68   2.0  4.8    6.9
122       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9

[82 rows x 6 columns]

In [86]:
top_df.reset_index(drop=True)

                      Name      Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
1          Khris Middleton     Bucks  77   6.0  4.3   18.3
2              Zach LaVine     Bulls  63   4.7  4.5   23.7
3          Lauri Markkanen     Bulls  52   9.0  1.4   18.7
4             Kyrie Irving   Celtics  67   5.0  6.9   23.8
..                     ...       ...  ..   ...  ...    ...
118          Stephen Curry  Warriors  69   5.3  5.2   27.3
119           Kevin Durant  Warriors  78   6.4  5.9   26.0
120         Draymond Green  Warriors  66   7.3  6.9    7.4
121           Bradley Beal   Wizards  82   5.0  5.5   25.6
122       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9

[123 rows x 6 columns]

In [88]:
top_df = top_df.drop_duplicates()

In [90]:
top_df.reset_index(drop=True)

                     Name     Team   G   TRB  AST  PTS/G
0   Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7
1         Khris Middleton    Bucks  77   6.0  4.3   18.3
2             Zach LaVine    Bulls  63   4.7  4.5   23.7
3         Lauri Markkanen    Bulls  52   9.0  1.4   18.7
4            Kyrie Irving  Celtics  67   5.0  6.9   23.8
..                    ...      ...  ..   ...  ...    ...
77             Kyle Lowry  Raptors  65   4.8  8.7   14.2
78          Fred VanVleet  Raptors  64   2.6  4.8   11.0
79             Chris Paul  Rockets  58   4.6  8.2   15.6
80             Tyus Jones  Twolves  68   2.0  4.8    6.9
81       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9

[82 rows x 6 columns]

In [92]:
top_df = top_df.sort_values('Team')

In [94]:
top_df.reset_index(drop=True)

                     Name      Team   G   TRB  AST  PTS/G
0   Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
1         Khris Middleton     Bucks  77   6.0  4.3   18.3
2            Eric Bledsoe     Bucks  78   4.6  5.5   15.9
3             Zach LaVine     Bulls  63   4.7  4.5   23.7
4         Lauri Markkanen     Bulls  52   9.0  1.4   18.7
..                    ...       ...  ..   ...  ...    ...
77           Kevin Durant  Warriors  78   6.4  5.9   26.0
78         Draymond Green  Warriors  66   7.3  6.9    7.4
79          Klay Thompson  Warriors  78   3.8  2.4   21.5
80           Bradley Beal   Wizards  82   5.0  5.5   25.6
81       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9

[82 rows x 6 columns]

In [95]:
top_75

{'pts_75': 18.3, 'reb_75': 7.3, 'ast_75': 4.42}

In [97]:
best_six = top_df.loc[(top_df['TRB'] >= 7.3) & (top_df['PTS/G'] >= 18.3) & (top_df['AST'] >= 4.42)]

In [98]:
best_six.reset_index(drop=True)
best_six

                     Name     Team   G   TRB   AST  PTS/G
0   Giannis Antetokounmpo    Bucks  72  12.5   5.9   27.7
15           LeBron James   Lakers  55   8.5   8.3   27.4
19            Luka Dončić     Mavs  72   7.8   6.0   21.2
21           Nikola Jokić  Nuggets  80  10.8   7.3   20.1
25          Blake Griffin  Pistons  75   7.5   5.4   24.5
33      Russell Westbrook  Thunder  73  11.1  10.7   22.9

In [99]:
best_six

                     Name     Team   G   TRB   AST  PTS/G
0   Giannis Antetokounmpo    Bucks  72  12.5   5.9   27.7
15           LeBron James   Lakers  55   8.5   8.3   27.4
19            Luka Dončić     Mavs  72   7.8   6.0   21.2
21           Nikola Jokić  Nuggets  80  10.8   7.3   20.1
25          Blake Griffin  Pistons  75   7.5   5.4   24.5
33      Russell Westbrook  Thunder  73  11.1  10.7   22.9

In [103]:
best_six = best_six.reset_index(drop=True)

In [104]:
best_six

                    Name     Team   G   TRB   AST  PTS/G
0  Giannis Antetokounmpo    Bucks  72  12.5   5.9   27.7
1           LeBron James   Lakers  55   8.5   8.3   27.4
2            Luka Dončić     Mavs  72   7.8   6.0   21.2
3           Nikola Jokić  Nuggets  80  10.8   7.3   20.1
4          Blake Griffin  Pistons  75   7.5   5.4   24.5
5      Russell Westbrook  Thunder  73  11.1  10.7   22.9

In [106]:
top_df = top_df.reset_index(drop=True)

In [107]:
top_df

                     Name      Team   G   TRB  AST  PTS/G
0   Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
1         Khris Middleton     Bucks  77   6.0  4.3   18.3
2            Eric Bledsoe     Bucks  78   4.6  5.5   15.9
3             Zach LaVine     Bulls  63   4.7  4.5   23.7
4         Lauri Markkanen     Bulls  52   9.0  1.4   18.7
..                    ...       ...  ..   ...  ...    ...
77           Kevin Durant  Warriors  78   6.4  5.9   26.0
78         Draymond Green  Warriors  66   7.3  6.9    7.4
79          Klay Thompson  Warriors  78   3.8  2.4   21.5
80           Bradley Beal   Wizards  82   5.0  5.5   25.6
81       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9

[82 rows x 6 columns]

In [109]:
top_score_df = top_score_df.reset_index(drop=True)
top_score_df

                     Name          Team   G   TRB   AST  PTS/G
0   Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
1         Khris Middleton         Bucks  77   6.0   4.3   18.3
2             Zach LaVine         Bulls  63   4.7   4.5   23.7
3         Lauri Markkanen         Bulls  52   9.0   1.4   18.7
4            Kyrie Irving       Celtics  67   5.0   6.9   23.8
5           Tobias Harris      Clippers  55   7.9   2.7   20.9
6            Lou Williams      Clippers  75   3.0   5.4   20.0
7        Danilo Gallinari      Clippers  68   6.1   2.6   19.8
8             Mike Conley     Grizzlies  70   3.4   6.4   21.1
9            John Collins         Hawks  61   9.8   2.0   19.5
10             Trae Young         Hawks  81   3.7   8.1   19.1
11           Kemba Walker       Hornets  82   4.4   5.9   25.6
12       Donovan Mitchell          Jazz  77   4.1   4.2   23.8
13            Buddy Hield         Kings  82   5.0   2.5   20.7
14           Tim Hardaway        Knicks  46   3.5   2.7   19.1
15           LeBron James        Lakers  55   8.5   8.3   27.4
16             Kyle Kuzma        Lakers  70   5.5   2.5   18.7
17         Brandon Ingram        Lakers  52   5.1   3.0   18.3
18         Nikola Vučević         Magic  80  12.0   3.8   20.8
19            Luka Dončić          Mavs  72   7.8   6.0   21.2
20       D'Angelo Russell          Nets  81   3.9   7.0   21.1
21           Nikola Jokić       Nuggets  80  10.8   7.3   20.1
22          Anthony Davis      Pelicans  56  12.0   3.9   25.9
23          Julius Randle      Pelicans  73   8.7   3.1   21.4
24           Jrue Holiday      Pelicans  67   5.0   7.7   21.2
25          Blake Griffin       Pistons  75   7.5   5.4   24.5
26          Kawhi Leonard       Raptors  60   7.3   3.3   26.6
27           James Harden       Rockets  78   6.6   7.5   36.1
28            Joel Embiid        Sixers  64  13.6   3.7   27.5
29      LaMarcus Aldridge         Spurs  81   9.2   2.4   21.3
30          DeMar DeRozan         Spurs  77   6.0   6.2   21.2
31           Devin Booker          Suns  64   4.1   6.8   26.6
32            Paul George       Thunder  77   8.2   4.1   28.0
33      Russell Westbrook       Thunder  73  11.1  10.7   22.9
34         Damian Lillard  Trailblazers  80   4.6   6.9   25.8
35            CJ McCollum  Trailblazers  70   4.0   3.0   21.0
36     Karl-Anthony Towns       Twolves  77  12.4   3.4   24.4
37          Stephen Curry      Warriors  69   5.3   5.2   27.3
38           Kevin Durant      Warriors  78   6.4   5.9   26.0
39          Klay Thompson      Warriors  78   3.8   2.4   21.5
40           Bradley Beal       Wizards  82   5.0   5.5   25.6

In [110]:
len(top_score_df)

41

In [111]:
len(top_score_df)
len(top_reb_df)
len(top_ast_df)

40

In [112]:
len(top_reb_df)

42

In [113]:
len(top_ast_df)

40

In [116]:
top_pts_reb = top_df.loc[(top_df['PTS/G'] >= 18.3) & (top_df['TRB'] >= 7.3)]

In [118]:
top_pts_reb = top_pts_reb.reset_index(drop=True)

In [119]:
top_pts_ast = top_df.loc[(top_df['PTS/G'] >= 18.3) & (top_df['AST'] >= 4.42)]

In [120]:
top_pts_ast = top_pts_ast.reset_index(drop=True)

In [121]:
top_reb_ast = top_df.loc[(top_df['AST'] >= 4.42) & (top_df['TRB'] >= 7.3)]

In [122]:
top_reb_ast = top_reb_ast.reset_index(drop=True)

In [123]:
len(top_pts_reb)

17

In [124]:
len(top_pts_ast)

21

In [125]:
len(top_reb_ast)

9

In [126]:
top_reb_ast

                    Name       Team   G   TRB   AST  PTS/G
0  Giannis Antetokounmpo      Bucks  72  12.5   5.9   27.7
1             Marc Gasol  Grizzlies  53   8.6   4.7   15.7
2           LeBron James     Lakers  55   8.5   8.3   27.4
3            Luka Dončić       Mavs  72   7.8   6.0   21.2
4           Nikola Jokić    Nuggets  80  10.8   7.3   20.1
5          Blake Griffin    Pistons  75   7.5   5.4   24.5
6            Ben Simmons     Sixers  79   8.8   7.7   16.9
7      Russell Westbrook    Thunder  73  11.1  10.7   22.9
8         Draymond Green   Warriors  66   7.3   6.9    7.4

In [127]:
top_pts_reb

                     Name      Team   G   TRB   AST  PTS/G
0   Giannis Antetokounmpo     Bucks  72  12.5   5.9   27.7
1         Lauri Markkanen     Bulls  52   9.0   1.4   18.7
2           Tobias Harris  Clippers  55   7.9   2.7   20.9
3            John Collins     Hawks  61   9.8   2.0   19.5
4            LeBron James    Lakers  55   8.5   8.3   27.4
5          Nikola Vučević     Magic  80  12.0   3.8   20.8
6             Luka Dončić      Mavs  72   7.8   6.0   21.2
7            Nikola Jokić   Nuggets  80  10.8   7.3   20.1
8           Julius Randle  Pelicans  73   8.7   3.1   21.4
9           Anthony Davis  Pelicans  56  12.0   3.9   25.9
10          Blake Griffin   Pistons  75   7.5   5.4   24.5
11          Kawhi Leonard   Raptors  60   7.3   3.3   26.6
12            Joel Embiid    Sixers  64  13.6   3.7   27.5
13      LaMarcus Aldridge     Spurs  81   9.2   2.4   21.3
14            Paul George   Thunder  77   8.2   4.1   28.0
15      Russell Westbrook   Thunder  73  11.1  10.7   22.9
16     Karl-Anthony Towns   Twolves  77  12.4   3.4   24.4

In [128]:
top_pts_reb_df = top_pts_reb

In [131]:
top_pts_reb_df.to_csv('top_pts_reb.csv')

In [132]:
top_pts_ast.to_csv('top_pts_ast.csv')

In [133]:
top_reb_ast.to_csv('top_reb_ast.csv')

In [134]:
top_df

                     Name      Team   G   TRB  AST  PTS/G
0   Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
1         Khris Middleton     Bucks  77   6.0  4.3   18.3
2            Eric Bledsoe     Bucks  78   4.6  5.5   15.9
3             Zach LaVine     Bulls  63   4.7  4.5   23.7
4         Lauri Markkanen     Bulls  52   9.0  1.4   18.7
..                    ...       ...  ..   ...  ...    ...
77           Kevin Durant  Warriors  78   6.4  5.9   26.0
78         Draymond Green  Warriors  66   7.3  6.9    7.4
79          Klay Thompson  Warriors  78   3.8  2.4   21.5
80           Bradley Beal   Wizards  82   5.0  5.5   25.6
81       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9

[82 rows x 6 columns]

In [135]:
top_df.describe()

               G        TRB        AST      PTS/G
count  82.000000  82.000000  82.000000  82.000000
mean   70.646341   7.012195   4.336585  17.869512
std    10.098737   3.125261   2.328700   6.238306
min    46.000000   2.000000   0.700000   5.800000
25%    65.250000   4.450000   2.400000  12.150000
50%    73.000000   7.300000   4.250000  18.250000
75%    79.000000   8.675000   6.000000  21.375000
max    82.000000  15.600000  10.700000  36.100000

In [147]:
top_df.sort_values('PTS/G', ascending=False)

                     Name      Team   G   TRB  AST  PTS/G
60           James Harden   Rockets  78   6.6  7.5   36.1
68            Paul George   Thunder  77   8.2  4.1   28.0
0   Giannis Antetokounmpo     Bucks  72  12.5  5.9   27.7
62            Joel Embiid    Sixers  64  13.6  3.7   27.5
32           LeBron James    Lakers  55   8.5  8.3   27.4
..                    ...       ...  ..   ...  ...    ...
81       Tomáš Satoranský   Wizards  80   3.5  5.0    8.9
29            Noah Vonleh    Knicks  68   7.8  1.9    8.4
78         Draymond Green  Warriors  66   7.3  6.9    7.4
74             Tyus Jones   Twolves  68   2.0  4.8    6.9
44               Ed Davis      Nets  81   8.6  0.8    5.8

[82 rows x 6 columns]

In [151]:
top_score_df = top_score_df.sort_values('PTS/G', ascending=False)

In [152]:
top_score_df = top_score_df.reset_index(drop=True)

In [153]:
top_score_df

                     Name          Team   G   TRB   AST  PTS/G
0            James Harden       Rockets  78   6.6   7.5   36.1
1             Paul George       Thunder  77   8.2   4.1   28.0
2   Giannis Antetokounmpo         Bucks  72  12.5   5.9   27.7
3             Joel Embiid        Sixers  64  13.6   3.7   27.5
4            LeBron James        Lakers  55   8.5   8.3   27.4
5           Stephen Curry      Warriors  69   5.3   5.2   27.3
6            Devin Booker          Suns  64   4.1   6.8   26.6
7           Kawhi Leonard       Raptors  60   7.3   3.3   26.6
8            Kevin Durant      Warriors  78   6.4   5.9   26.0
9           Anthony Davis      Pelicans  56  12.0   3.9   25.9
10         Damian Lillard  Trailblazers  80   4.6   6.9   25.8
11           Bradley Beal       Wizards  82   5.0   5.5   25.6
12           Kemba Walker       Hornets  82   4.4   5.9   25.6
13          Blake Griffin       Pistons  75   7.5   5.4   24.5
14     Karl-Anthony Towns       Twolves  77  12.4   3.4   24.4
15       Donovan Mitchell          Jazz  77   4.1   4.2   23.8
16           Kyrie Irving       Celtics  67   5.0   6.9   23.8
17            Zach LaVine         Bulls  63   4.7   4.5   23.7
18      Russell Westbrook       Thunder  73  11.1  10.7   22.9
19          Klay Thompson      Warriors  78   3.8   2.4   21.5
20          Julius Randle      Pelicans  73   8.7   3.1   21.4
21      LaMarcus Aldridge         Spurs  81   9.2   2.4   21.3
22            Luka Dončić          Mavs  72   7.8   6.0   21.2
23          DeMar DeRozan         Spurs  77   6.0   6.2   21.2
24           Jrue Holiday      Pelicans  67   5.0   7.7   21.2
25            Mike Conley     Grizzlies  70   3.4   6.4   21.1
26       D'Angelo Russell          Nets  81   3.9   7.0   21.1
27            CJ McCollum  Trailblazers  70   4.0   3.0   21.0
28          Tobias Harris      Clippers  55   7.9   2.7   20.9
29         Nikola Vučević         Magic  80  12.0   3.8   20.8
30            Buddy Hield         Kings  82   5.0   2.5   20.7
31           Nikola Jokić       Nuggets  80  10.8   7.3   20.1
32           Lou Williams      Clippers  75   3.0   5.4   20.0
33       Danilo Gallinari      Clippers  68   6.1   2.6   19.8
34           John Collins         Hawks  61   9.8   2.0   19.5
35             Trae Young         Hawks  81   3.7   8.1   19.1
36           Tim Hardaway        Knicks  46   3.5   2.7   19.1
37        Lauri Markkanen         Bulls  52   9.0   1.4   18.7
38             Kyle Kuzma        Lakers  70   5.5   2.5   18.7
39        Khris Middleton         Bucks  77   6.0   4.3   18.3
40         Brandon Ingram        Lakers  52   5.1   3.0   18.3

In [154]:
best_six

                    Name     Team   G   TRB   AST  PTS/G
0  Giannis Antetokounmpo    Bucks  72  12.5   5.9   27.7
1           LeBron James   Lakers  55   8.5   8.3   27.4
2            Luka Dončić     Mavs  72   7.8   6.0   21.2
3           Nikola Jokić  Nuggets  80  10.8   7.3   20.1
4          Blake Griffin  Pistons  75   7.5   5.4   24.5
5      Russell Westbrook  Thunder  73  11.1  10.7   22.9

In [155]:
df

                      Name     Team   G   TRB  AST  PTS/G
0    Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7
1          Khris Middleton    Bucks  77   6.0  4.3   18.3
2             Eric Bledsoe    Bucks  78   4.6  5.5   15.9
3              Brook Lopez    Bucks  81   4.9  1.2   12.5
4              Zach LaVine    Bulls  63   4.7  4.5   23.7
..                     ...      ...  ..   ...  ...    ...
155           Bradley Beal  Wizards  82   5.0  5.5   25.6
156             Jeff Green  Wizards  77   4.0  1.8   12.3
157          Thomas Bryant  Wizards  72   6.3  1.3   10.5
158       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9
159         Chasson Randle  Wizards  49   1.1  2.0    5.5

[160 rows x 6 columns]

In [156]:
df['Coefficient'] = df['TRB'] + df['AST'] + df['PTS/G']

In [158]:
df.sort_values('Coefficient', ascending=False)

                      Name       Team   G   TRB   AST  PTS/G  Coefficient
115           James Harden    Rockets  78   6.6   7.5   36.1         50.2
0    Giannis Antetokounmpo      Bucks  72  12.5   5.9   27.7         46.1
121            Joel Embiid     Sixers  64  13.6   3.7   27.5         44.8
137      Russell Westbrook    Thunder  73  11.1  10.7   22.9         44.7
64            LeBron James     Lakers  55   8.5   8.3   27.4         44.2
..                     ...        ...  ..   ...   ...    ...          ...
28               Ivan Rabb  Grizzlies  49   4.2   1.1    5.8         11.1
134      De'Anthony Melton       Suns  50   2.7   3.2    5.0         10.9
70          Tyson Chandler     Lakers  48   5.6   0.6    3.1          9.3
109          Zaza Pachulia    Pistons  68   3.9   1.3    3.9          9.1
159         Chasson Randle    Wizards  49   1.1   2.0    5.5          8.6

[160 rows x 7 columns]

In [159]:
df_coefficient = df.sort_values('Coefficient', ascending=False)

In [160]:
df_coefficient.reset_index(drop=True)

                      Name       Team   G   TRB   AST  PTS/G  Coefficient
0             James Harden    Rockets  78   6.6   7.5   36.1         50.2
1    Giannis Antetokounmpo      Bucks  72  12.5   5.9   27.7         46.1
2              Joel Embiid     Sixers  64  13.6   3.7   27.5         44.8
3        Russell Westbrook    Thunder  73  11.1  10.7   22.9         44.7
4             LeBron James     Lakers  55   8.5   8.3   27.4         44.2
..                     ...        ...  ..   ...   ...    ...          ...
155              Ivan Rabb  Grizzlies  49   4.2   1.1    5.8         11.1
156      De'Anthony Melton       Suns  50   2.7   3.2    5.0         10.9
157         Tyson Chandler     Lakers  48   5.6   0.6    3.1          9.3
158          Zaza Pachulia    Pistons  68   3.9   1.3    3.9          9.1
159         Chasson Randle    Wizards  49   1.1   2.0    5.5          8.6

[160 rows x 7 columns]

In [161]:
df

                      Name     Team   G   TRB  AST  PTS/G  Coefficient
0    Giannis Antetokounmpo    Bucks  72  12.5  5.9   27.7         46.1
1          Khris Middleton    Bucks  77   6.0  4.3   18.3         28.6
2             Eric Bledsoe    Bucks  78   4.6  5.5   15.9         26.0
3              Brook Lopez    Bucks  81   4.9  1.2   12.5         18.6
4              Zach LaVine    Bulls  63   4.7  4.5   23.7         32.9
..                     ...      ...  ..   ...  ...    ...          ...
155           Bradley Beal  Wizards  82   5.0  5.5   25.6         36.1
156             Jeff Green  Wizards  77   4.0  1.8   12.3         18.1
157          Thomas Bryant  Wizards  72   6.3  1.3   10.5         18.1
158       Tomáš Satoranský  Wizards  80   3.5  5.0    8.9         17.4
159         Chasson Randle  Wizards  49   1.1  2.0    5.5          8.6

[160 rows x 7 columns]

In [169]:
df['Count'] = 1

In [171]:
df_count = df.groupby('Team').count()['Count']

In [172]:
df_count

Team
Bucks           4
Bulls           4
Cavs            5
Celtics         5
Clippers        6
Grizzlies       5
Hawks           7
Heat            5
Hornets         6
Jazz            6
Kings           6
Knicks          5
Lakers          7
Magic           5
Mavs            5
Nets            7
Nuggets         6
Pacers          6
Pelicans        5
Pistons         5
Raptors         5
Rockets         6
Sixers          4
Spurs           5
Suns            6
Thunder         4
Trailblazers    5
Twolves         6
Warriors        4
Wizards         5
Name: Count, dtype: int64

In [179]:
df_count.describe()

count    30.000000
mean      5.333333
std       0.884087
min       4.000000
25%       5.000000
50%       5.000000
75%       6.000000
max       7.000000
Name: Count, dtype: float64

In [180]:
df_count.mode()

0    5
dtype: int64

In [183]:
df_count = df_count.to_frame('Count')

In [184]:
df_count

              Count
Team
Bucks             4
Bulls             4
Cavs              5
Celtics           5
Clippers          6
Grizzlies         5
Hawks             7
Heat              5
Hornets           6
Jazz              6
Kings             6
Knicks            5
Lakers            7
Magic             5
Mavs              5
Nets              7
Nuggets           6
Pacers            6
Pelicans          5
Pistons           5
Raptors           5
Rockets           6
Sixers            4
Spurs             5
Suns              6
Thunder           4
Trailblazers      5
Twolves           6
Warriors          4
Wizards           5

In [185]:
df_count.sort_values('Count', ascending=False)

              Count
Team
Nets              7
Lakers            7
Hawks             7
Pacers            6
Rockets           6
Kings             6
Jazz              6
Hornets           6
Suns              6
Clippers          6
Twolves           6
Nuggets           6
Spurs             5
Trailblazers      5
Raptors           5
Pistons           5
Pelicans          5
Wizards           5
Mavs              5
Magic             5
Knicks            5
Heat              5
Grizzlies         5
Celtics           5
Cavs              5
Bulls             4
Sixers            4
Thunder           4
Warriors          4
Bucks             4

In [186]:
df_count.to_csv('player_count.csv')

In [187]:
best_six

                    Name     Team   G   TRB   AST  PTS/G
0  Giannis Antetokounmpo    Bucks  72  12.5   5.9   27.7
1           LeBron James   Lakers  55   8.5   8.3   27.4
2            Luka Dončić     Mavs  72   7.8   6.0   21.2
3           Nikola Jokić  Nuggets  80  10.8   7.3   20.1
4          Blake Griffin  Pistons  75   7.5   5.4   24.5
5      Russell Westbrook  Thunder  73  11.1  10.7   22.9

In [188]:
best_six.to_csv('best_six.csv')